[submodule "tools/git-extras"]
	path = tools/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "tools/git-quick-stats"]
	path = tools/git-quick-stats
	url = https://github.com/git-quick-stats/git-quick-stats/
[submodule "tmux/plugins/tmux-everforest"]
	path = tmux/plugins/tmux-everforest
	url = https://github.com/TanglingTreats/tmux-everforest
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight/
[submodule "yazi/yazi-rs-plugins"]
	path = yazi/yazi-rs-plugins
	url = https://github.com/yazi-rs/plugins
[submodule "yazi/plugins/githead.yazi"]
	path = yazi/plugins/githead.yazi
	url = https://github.com/llanosrocas/githead.yazi
[submodule "zsh/plugins/abbr"]
	path = zsh/plugins/abbr
	url = https://github.com/olets/zsh-abbr
[submodule "zsh/plugins/autopair"]
	path = zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh/plugins/autosuggestions"]
	path = zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/autosuggestions-abbreviations-strategy"]
	path = zsh/plugins/autosuggestions-abbreviations-strategy
	url = https://github.com/olets/zsh-autosuggestions-abbreviations-strategy
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/plugins/git-completion"]
	path = zsh/plugins/git-completion
	url = https://github.com/felipec/git-completion
[submodule "zsh/plugins/syntax-highlighting"]
	path = zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugins/z"]
	path = zsh/plugins/z
	url = https://github.com/agkozak/zsh-z/
