[submodule ".config/zsh/plugins/powerlevel10k"]
	path = .config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/plugins/zsh-autopair"]
	path = .config/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-completions"]
	path = .config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zsh/plugins/zsh-abbr"]
	path = .config/zsh/plugins/zsh-abbr
	url = https://github.com/olets/zsh-abbr
[submodule ".config/zsh/plugins/zsh-autosuggestions-abbreviations-strategy"]
	path = .config/zsh/plugins/zsh-autosuggestions-abbreviations-strategy
	url = https://github.com/olets/zsh-autosuggestions-abbreviations-strategy/
[submodule ".config/zsh/plugins/fzf-tab"]
	path = .config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab/
[submodule ".config/zsh/plugins/git-completion"]
	path = .config/zsh/plugins/git-completion
	url = https://github.com/felipec/git-completion/
[submodule "tools/git-extras"]
	path = tools/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "tools/git-quick-stats"]
	path = tools/git-quick-stats
	url = https://github.com/git-quick-stats/git-quick-stats/
[submodule "tmux/plugins/tmux-everforest"]
	path = tmux/plugins/tmux-everforest
	url = https://github.com/TanglingTreats/tmux-everforest
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight/
